<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Taco Tour - About Us</title>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- custom CSS-->
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barrio">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Frijole">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Darker+Grotesque">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
   
</head>

<body style="background-color: #fefae0; padding-bottom: 100px;">
    <div class="container-fluid">

      <nav class="navbar navbar-expand-lg navbar-centered fixed-top">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarExample01">


          </div>
          
          <ul class="nav pill-nav">
            <li role="presentation"><a href="/">Home</a></li>

            <li role="presentation"><a href="/about_us" class="active">About us</a></li>
            <li role="presentation">
          <div class="dropdown" style="padding: right 50pt;">
            <span>Project</span>
            <div class="dropdown-content">
              <a href="/sql_table">Data Engineering</a>
              <a href="/ml">Machine Learning</a>
              <a style="text-align: left;" href="/viz1">Snowbird Taco Tour (Tableau)</a>
              <a style="text-align: left;" href="/viz2">Business Profile Completeness (Tableau)</a>
              <a href="/temp">Written Analysis</a>
            </div>
          </div>
          </li>
          </ul>
        </div>
      </nav>

 
      <div class="container">
        <row>
          <div class="div">
            <div class="col-lg-12" data-aos="fade-up">
              <div class="image">
                <div class="jumbotron jumbo-bg" style="background-image: url('static/images/taco4.jpg');">
                  <p class="display-4" style="font-size: 120pt; opacity: 1;">The Great North American Taco Tour</p>
                </div>
            </div>
            </div>
          </div>
        </row>
        <row>
        <div class="div" data-aos="fade-right">
          <h1 class="h1">Marsha Curtis</h1>
        </div>
        </row>

        <div class="div" data-aos="fade-up">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-4" data-aos="fade-up">
                <img src="static/images/Marsha.png" class="img-fluid" alt="bellybutton">
              </div>
              
              <div class="col-sm-8" data-aos="fade-up">
                <p style="text-align: center" class="p">
                  <br>
                  Marsha Curtis is currently a brand-new Data Architect who firmly believes knowledge is power and is working to modernize and expand her professional skill sets.  Aside from data strategy, Marsha loves her daughter and her husband, shelter pets, craft beer, and street tacos!
                <br>
                </p>
              </div>
          </div>
      </div>
      <row>
        <div class="div" data-aos="fade-left">
          <h1 class="h1" style="text-align: right">Tuyet Do</h1>
        </div>
        </row>

        <div class="div" data-aos="fade-up">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-8" data-aos="fade-up">
                <p style="text-align: center" class="p">
                  <br>
                   Tuyet Do decided to take a leap of faith towards a new challenge and dove straight into data analytics with no prior experience.
                   With her background in marketing and business management, she is looking forward to her new career path ahead. Besides learning,
                   Tuyet loves to play video games,
                   binge watch and read everything, and keeps busy with her three bunnies, two chinchillas, and her puppy. 
                <br>
                </p>
              </div>
              <div class="col-sm-4" data-aos="fade-up">
                <img src="static/images/Tuyet.jpg" class="img-fluid" alt="bellybutton">
              </div>
          </div>
      </div>

      <row>
        <div class="div" data-aos="fade-right">
          <h1 class="h1">Erin Parker</h1>
        </div>
        </row>

        <div class="div" data-aos="fade-up">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-4" data-aos="fade-up">
                <img src="static/images/erin.jpg" class="img-fluid" alt="bellybutton">
              </div>
              
              <div class="col-sm-8" data-aos="fade-up">
                <p style="text-align: center" class="p">
                  <br>
                  Erin works in the medical legal industry and is excited branch into the data analysis field.
                   Erin is also passionate about fine art, ceramics, gardening and her family. 
                  <br>
                </p>
              </div>
          </div>
      </div>
      <row>
        <div class="div" data-aos="fade-left">
          <h1 class="h1" style="text-align: right">Michela Ziemer</h1>
        </div>
        </row>

        <div class="div" data-aos="fade-up">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-8" data-aos="fade-up">
                <p style="text-align: center" class="p">
                  <br>
                  Michela Ziemer is looking forward to starting a new career in data analytics. She is passionate about making dynamic visualizations that tell a cohesive story. Other interests include UX/UI, manga, corgis, food, and travel.
                <br>
                </p>
              </div>
              <div class="col-sm-4" data-aos="fade-up">
                <img src="static/images/Michela.jpg" class="img-fluid" alt="bellybutton">
              </div>
          </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="./static/js/SQL_app.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 3000,
        once: true,
      });
    </script>

</body>

</html>