<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Taco Tour - Data Engineering</title>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!-- custom CSS-->
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barrio">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Frijole">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Darker+Grotesque">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <!-- Select2 CSS --> 
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> 
    <!-- Select2 JS --> 
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <!-- PLOTLY -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- JS -->
    <script type="text/javascript" src="static/js/sql.js"></script>
</head>

<body style="background-color: #fefae0; padding-bottom: 100px;">
  <div class="container-fluid">
    <!--side nav-->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <p class="filteroptions">Filter Options</p>
      <div class="row" style="padding: 5%;"> 
          <div class="form-group" >
              <label class="p1" for="city">City</label>
              <select id="city" style="width: 100%;">
                <option value='"All Cities"'>All Cities</option>
              </select>
          </div>
          <div class="form-group">
              <label class="p1" for="state">State</label>
              <div>
              <select id="state" style="width: 100%;">
                <option value='"All States"'>All States</option>
                </select>
              </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="DietaryRestrictionsType">Dietary Restrictions</label>
              <select id="DietaryRestrictionsType" class="form-select" aria-label="Default select example">
                <option value='"DietaryRestrictionsvegetarian", "DietaryRestrictionsvegan", "na"'>All</option>
                <option value='"DietaryRestrictionsvegetarian"'>Vegetarian</option>
                <option value='"DietaryRestrictionsvegan"'>Vegan</option>
                <option value='"na"'>N/A</option>
              </select>
          </div>
            <div class="form-group">
                <label class="form-label" for="GoodForMealType">Meal</label>
                  <select id="GoodForMealType" class="form-select" aria-label="Default select example">
                    <option value='"GoodForMealdinner", "GoodForMeallunch", "GoodForMealbrunch", "GoodForMealbreakfast",
                    "GoodForMealdessert", "GoodForMeallatenight","na"'>All</option>
                    <option value='"GoodForMealdinner"'>Dinner</option>
                    <option value='"GoodForMeallunch"'>Lunch</option>
                    <option value='"GoodForMealbrunch"'>Brunch</option>
                    <option value='"GoodForMealbreakfast"'>Breakfast</option>
                    <option value='"GoodForMealdessert"'>Dessert</option>
                    <option value='"GoodForMeallatenight"'>Late Night</option>
                    <option value='"na"'>N/A</option>
                </select>
            </div>
            <div class="form-group">
              <label class="form-label" for="is_mexican_restaurant">Mexican Restaurant</label>
              <select id="is_mexican_restaurant" class="form-select" aria-label="Default select example">
                  <option value="True, False">All</option>
                  <option value="True">True</option>
                  <option value="False">False</option>
              </select>
          </div>
          <div class="form-group">
            <label class="form-label" for="RestaurantsType">Restaurant Type</label>
            <select id="RestaurantsType" class="form-select" aria-label="Default select example">
              <option value='"RestaurantsGoodForGroups", "RestaurantsTakeOut", "RestaurantsTableService",
              "RestaurantsDelivery", "RestaurantsReservations", "na"'>All</option>                  
              <option value='"RestaurantsGoodForGroups"'>Groups</option>
              <option value='"RestaurantsTakeOut"'>Take Out</option>
              <option value='"RestaurantsTableService"'>Table Service</option>
              <option value='"RestaurantsDelivery"'>Delivery</option>
              <option value='"RestaurantsReservations"'>Reservations</option>
              <option value='"na"'>N/A</option>
            </select>
        </div>  
      </div>
      <div class="row" style="padding: 10px;">
          <div class="col-md-12">
              <button type="button" class="btn" id="filter">Query Database!</button>
          </div>
      </div>
    </div>
    </div>

<!-- Use any element to open the sidenav -->
<span style="width: 40px; 
height: 100%;
position: fixed;
writing-mode: vertical-lr;
text-orientation: sideways;
background-color: #E76F51;
color: #fefae0;
font-family: Barrio;
font-size: 24pt;
padding-top: 10px;
box-shadow: 0px 0px 10px #F4A261;
z-index: 10;
" onclick="openNav()">Filter Menu</span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
<!--Top Nav-->
    <nav class="navbar navbar-expand-lg navbar-centered fixed-top" style="z-index: 1;">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarExample01">
  
          </div>
          
          <ul class="nav pill-nav">
            <li role="presentation"><a href="/">Home</a></li>
  
            <li role="presentation"><a href="/about_us">About us</a></li>
            <li role="presentation">
          <div class="dropdown" style="padding: right 50pt;">
            <span>Project</span>
            <div class="dropdown-content">
              <a href="/sql_table">Data Engineering</a>
              <a href="/ml">Machine Learning</a>
              <a style="text-align: left;" href="/viz1">Snowbird Taco Tour (Tableau)</a>
              <a style="text-align: left;" href="/viz2">Business Profile Completeness (Tableau)</a>
              <a href="/temp">Written Analysis</a>
            </div>
          </div>
          </li>
          </ul>
        </div>
      </nav>
    

      <div class="container">
        <row>
          <div class="div">
            <div class="col-lg-12" data-aos="fade-up">
              <div class="image">
                <div class="jumbotron jumbo-bg" style="background-image: url('static/images/taco4.jpg');">
                  <p class="display-4" style="font-size: 110pt; opacity: 1;">Project / Data Engineering</p>
                </div>
            </div>
            </div>
          </div>
          
        </row>
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3" data-aos="fade-right">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Data Model</h5>
                        <img class="card  img-fluid" src="/static/Images/data_model.png" Card image cap>
                        <br>
                        <a href="/static/Images/data_model.png" target="_blank" class="btn">Fullsize image</a>
                      </div>
                    
                  </div>
              </div>
              <div class="col-md-9" data-aos="fade-left">
                <p class="p" >
                  When we created our data model we considered both BI and ML use cases when 
                  developing our data model.  Our database contains two main tables:  Restaurants and 
                  RestaurantAttributes.  It also includes 11 categorical tables that contain derived distinct 
                  values from categorical columns or from ranges of boolean columns containing similar 
                  attributes.
                  <br>
                  <br>
                  For our ETL process, we developed a number of helper functions for reusable pieces of 
                  code.  These functions performed tasks like handling nulls, applying geocoding corrections, 
                  and dynamically altering the data model and creating tables for various categories of data.
                  <br>
                  <br>
                  Once cleaning and transformation is complete, data is loaded into a SQLite database, which 
                  is accessed for both machine learning and right here on the website!
                  <br>
                  <br>
                </p>
              </div>
            </div>
          </div>
    </div>
    <br>
    <br>
    <row>
      <div class="div" data-aos="fade-down">
        <h1 class="h1" style="text-align: center">Query the Database</h1>
      </div>
    </row>
    <row>
      <div class="col-md-12" data-aos="fade-left">
        <p  style="color: #2A9D8F;  font-family: Barrio;
        font-weight: 600;
        font-size: 22pt; text-align: center; align-items: center;  margin: 0 auto;">Use the dropdowns in the filter menu to select the attributes.
      </div>
    </row>
     <div id="showSQL"> 
          <div class="container-fluid">
            <div class="row" style="padding: 50px;">
                <div class="col-lg-9">
                    <div id="bubble" style="width: 100%; position: relative;
                    float: right;"></div>
                </div>
                <div class="col-lg-3" data-aos="fade-right" style=" margin: auto;">
                  <p class="p" >
                    Use the "Average Restaurant Ratings" chart to see the distribution of avarage ratings based on the attributes you've chosen in the filter menu.
                  </p>
                </div>
            </div>
        </div>
    <row>
        <div class="col-md-12" data-aos="fade-left">
            <p  style="color: #F4A261;  font-family: Barrio; font-weight: 600;
            font-size: 22pt; text-align: center; align-items: center;  margin: 0 auto;">Restaurants by Attributes</p>
        </div>
      </row>
    <row>
      <div class="col-lg-12" data-aos="fade-left" style=" text-align: center;">
        <p class="p" >
          Use the table to find more information on restaurants that meet your criteria.
        </p>
      </div>
    </row>
    <!--Table-->
    <row>
    <hr style="color:#fefae0; border-width: 3px;">
    <div class="container-fluid">
        <div class="row" style="padding: 50px;">
            <div class="col-md-12">
                <table id="sql_table" class="table table-hover table-success">
                  <thead class="thead">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Zip Code</th>
                        <th>Review Count</th>
                        <th>Avg. Stars</th>
                    </tr>
                  </thead>
                  <tbody class="tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
    </row>
  </div>

</div>
<!-- <script src="/static/js/logic.js"></script> -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 3000,
    once: true,
  });
</script>
</body>
</html>
