<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Taco Tour - Home</title>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- custom CSS-->
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barrio">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Frijole">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Darker+Grotesque">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
   
</head>

<body style="background-color: #fefae0; padding-bottom: 100px;">
    <div class="container-fluid">

      <nav class="navbar navbar-expand-lg navbar-centered fixed-top">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarExample01">


          </div>
          
          <ul class="nav pill-nav">
            <li role="presentation"><a href="/">Home</a></li>

            <li role="presentation"><a href="/about_us">About us</a></li>
            <li role="presentation">
          <div class="dropdown" style="padding: right 50pt;">
            <span>Project</span>
            <div class="dropdown-content">
              <a href="/sql_table">Data Engineering</a>
              <a href="/ml">Machine Learning</a>
              <a style="text-align: left;" href="/viz1">Snowbird Taco Tour (Tableau)</a>
              <a style="text-align: left;" href="/viz2">Business Profile Completeness (Tableau)</a>
              <a href="/temp">Written Analysis</a>
            </div>
          </div>
          </li>
          </ul>
        </div>
      </nav>

 
      <div class="container">
        <row>
          <div class="div">
            <div class="col-lg-12" data-aos="fade-up">
              <div class="image">
                <div class="jumbotron jumbo-bg" style="background-image: url('static/images/taco4.jpg');">
                  <p class="display-4" style="font-size: 120pt; opacity: 1;">Project / Written Analysis</p>
                </div>
            </div>
            </div>
          </div>
        </row>
      
        <row>
          <iframe src="static/Images/Final_Paper_UMN_Group_7_Taco_Tour.pdf" width="100%" height="900px"></iframe>
        </row>
        <div class="div" data-aos="fade-up">
          <h1 class="h1" style="text-align: center; color: #E9C46A;  font-family: Barrio;
          font-weight: 600;
          font-size: 36pt; text-align: center; align-items: center;  margin: 0 auto;">Learn More About Our Project:</h1>
        </div>
        </row>
        <br>
        <div class="div" data-aos="fade-left">
          <div class="container">
            <div class="row align-items-center" >
              <div class="div" data-aos="fade-left">
                <div class="container">
                  <div class="row align-items-center" >
                    <div class="col-sm-2" data-aos="fade-right">
                      <p style="text-align: center; color: #E76F51;  font-family: Darker Grotesque; font-weight: 600;
                      font-size: 24pt; text-align: center;">
                      Learn More About the Yelp! API:
                      </p>
                    </div>
      
                      <div class="col-sm-2" data-aos="fade-right">
                      <a href="https://www.yelp.com/developers" target="_blank"> 
                      <img src="static\Images\yelp_logo.png" class="img-fluid" alt="YelpAPI" style="height: 50%; width: 50%; align-content: center;">
                      </a> 
      
                    </div>
                    <div class="col-sm-2" data-aos="fade-left">
                      <p style="text-align: center; color: #E76F51;  font-family: Darker Grotesque; font-weight: 600;
                      font-size: 24pt; text-align: center;">
                      View the Data Source Kaggle:
                      </p>
                    </div>
                    <div class="col-sm-2" data-aos="fade-left">
                      <a href="https://www.kaggle.com/code/jagangupta/what-s-in-a-review-yelp-ratings-eda/data" target="_blank">
                      <img src="static\Images\kaggle_Logo.png" class="img-fluid" style="height: 50%; width: 50%;"
                      alt="kaggle">
                    </a>
                    </div>


              <div class="col-sm-2" data-aos="fade-left">
                <p style="text-align: center; color: #E76F51;  font-family: Darker Grotesque; font-weight: 600;
                font-size: 24pt; text-align: center;">
                View our code<br> on github:
                </p>
              </div>
              <div class="col-sm-2" data-aos="fade-left">
                <a href="https://github.com/curt0230/grp-7-snowbird-taco-tour" target="_blank">
                <img src="static\Images\GitHub-Mark-120px-plus.png" class="img-fluid" style="height: 25%; width: 25%;" alt="bellybutton">
                <img src="static\Images\GitHub_Logo.png" class="img-fluid" style="height: 25%; width: 25%;"
                alt="bellybutton">
              </a>
              </div>
          </div>
          <row>
            <br>

              </div>
            </row>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/logic.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 3000,
        once: true,
      });
    </script>

</body>

</html>